<div class="contact-info-card">
  <div class="section-title text-start">
    <h2>Contact Information</h2>
    <p>Here's how else you can reach us.</p>
  </div>

  <div class="info-item d-flex mb-4">
    <div class="icon flex-shrink-0 me-3"><i class="bi bi-geo-alt fs-4 color-3"></i></div>
    <div>
      <h4>Location:</h4>
      <p>DIFC, Dubai, UAE</p>
    </div>
  </div>
  <div class="info-item d-flex mb-4">
    <div class="icon flex-shrink-0 me-3"><i class="bi bi-envelope fs-4 color-3"></i></div>
    <div>
      <h4>Email:</h4>
      <p>sales@botplus.ae</p>
    </div>
  </div>
  <div class="info-item d-flex mb-4">
    <div class="icon flex-shrink-0 me-3"><i class="bi bi-phone fs-4 color-3"></i></div>
    <div>
      <h4>Call:</h4>
      <p>+971 50 150 3004</p>
    </div>
  </div>
  <div class="info-item">
    <h4 class="mb-3">Business Hours</h4>
    <p><strong>Monday - Friday:</strong> 9AM - 6PM GST</p>
  </div>
</div>
